#owner {
    display: inline;
    float: right;
    background: #9c27b0;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 1px;
}
i{
    cursor: pointer;
}

.verysatisfied {
    color: green;
    font-size: 175px;
}
.satisfied {
    color:orange;
    font-size: 175px;
}
.dissatisfied {
    color:red;
    font-size: 175px;
}
.header-filter::before { 
    background:white
}
@media only screen and (max-width: 767px) {
    .col-md-4.col-sm-4.text-center{
            width:33%;
            float:left;
    }
    .verysatisfied{
        font-size: 75px;
    }
    .satisfied{
        font-size: 75px;
    } 
    .dissatisfied{
        font-size: 75px;
    }
}      

div {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

**
 * Circle Styles
 */

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 25%;
  width: 100%;
  height: 0;
  /* border-radius: 50%; */
  background-color: #ddd;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 4em;
  }
}

.ratingcolored{  color: red; }
.ratingcolorgreen{  color: green; }
.ratingcolororange{  color: orange; }