<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/pie.js"></script>
  <style>
    /* .card {
      height: 420px;
    } */
    i,
    a {
      cursor: pointer;
    }

    #chartdiv {
      width: 400px;
      height: 200px;
      margin: 0 auto;
      border: 1px dotted #ccc;
    }

    #myChart1-wrapper,
    #myChart2-wrapper,
    #myChart3-wrapper {
      margin-left: 12%
    }

    #myChart1-license-text,
    #myChart2-license-text,
    #myChart3-license-text {
      display: none
    }

    .sidebar[data-color="purple"] li.active>a {
      background-color: #0089ec;
    }

    .nbtn {
      background-color: #0089ec !important;
      float: right;
    }
    @media screen and (max-width: 992px) {
        #sidebar_button{
                display: block !important;
            }
        }

  </style>
</head>
<link href="css/jquery.circliful.css" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="js/jquery.circliful.min.js"></script>

<body class="">
    
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          <img src="static/img/{{ data['pic_link'] }}" style="width: 50%;">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="./">
              <i class="material-icons">dashboard</i>
              <p>Profile</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" onclick=sideclick(0)>
              <i class="material-icons">person</i>
              <p>STORES<span id= "total_store_number" style="
                   display: inline;
    float: right;
    background: #0089ec;
    /* padding: 3px; */
    border-radius: 50%;
    /* padding: 4px; */
    /* margin-block-end: auto; */
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 1px;
            ">{{
                  data["total_stores"] }}</span></p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" onclick=sideclick(1)>
              <i class="material-icons">person</i>
              <p>Attendants</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="./logout">
              <i class="material-icons">content_paste</i>
              <p>logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Dashboard</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                            <ul class="nav">
                                <li class="nav-item active  ">
                                  <a class="nav-link" href="./">
                                    <i class="material-icons">dashboard</i>
                                    <p>Profile</p>
                                  </a>
                                </li>
                      
                                <li class="nav-item ">
                                  <a class="nav-link" onclick=sideclick(0)>
                                    <i class="material-icons">person</i>
                                    <p>STORES</p>
                                  </a>
                                </li> 
                                <li class="nav-item ">
                                  <a class="nav-link" onclick=sideclick(1)>
                                    <i class="material-icons">person</i>
                                    <p>Attendants</p>
                                  </a>
                                </li>
                      
                                <li class="nav-item ">
                                  <a class="nav-link" href="./logout">
                                    <i class="material-icons">content_paste</i>
                                    <p>logout</p>
                                  </a>
                                </li>
                              </ul>
            </div>
                        <div class="modal-footer">
                          
                          
                        </div>
                      </div>
        </div>
      </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" id="page_title">Dashboard</a>
          </div>
          <div class="row">
              <div class="col-md-12">
                      <div>
                          <button  data-toggle="modal" data-target="#exampleModalLong" id = "sidebar_button" data-toggle="modal1" data-target="#exampleModal" style="float: right; background: #0089ec;display: none " class="btn btn-primary">More</button>
                      </div>
              </div>
      </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row" id="profile">
            <div class="col-md-12">
              <div class="card" style="height: 100%">
                <div class="card-body">
                  <form action="/updatemanger" method="POST" enctype=multipart/form-data> <input type="text" class="form-control"
                    name="id" value={{data['id']}} hidden>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Password</label>
                      <input type="text" class="form-control" name="Password" placeholder="Password">
                    </div>


                    <div class="form-group">
                      <img src="static/img/{{ data['pic_link'] }}" style="width:30%;" alt="Raised Image" class="img-raised rounded img-fluid">
                    </div>

                    <label for="exampleInputEmail1">logo</label>
                    <br>
                    <input type="file" name="logo">


                    <br>
                    <button style="float: right; background: #0089ec; " type="submit" class="btn btn-primary">Update</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
          <div class="row" id="all_stores">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form method="POST" enctype=multipart/form-data id = "form_store"> 
                    <!-- <form method="POST" action="/addstore" enctype=multipart/form-data>  -->
                    <div class="form-group">
                    <label>Store Name</label>
                    <input type="managersname" class="form-control" name="storename" placeholder="Enter Store Name">
                </div>
                <div class="form-group">
                  <label>Question</label>
                  <input type="text" class="form-control" name="question" placeholder="Enter Question">
                </div>
                <div class="form-group">
                  <label>Tag Line</label>
                  <input type="text" class="form-control" name="tag_line" value = "Select Attandant" placeholder="Tag Line">
                </div>
                <div class="">
                  <label for="exampleInputEmail1">logo</label>
                  <br>
                  <input type="file" name="file" required>
                </div>
                <br>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select langugae</label>
                  <select class="form-control selectpicker" data-style="btn btn-link" name="language">
                    <option value = "es">English</option>
                    <option value = "sp">Spanish</option>
                    <option value = "pg">Português</option>
                  </select>
                </div>
                <button type="submit" class="nbtn btn btn-primary" id="add_new_store">Add New Store</button>
                </form>
              </div>
            </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <p style="float: right;display:none;" id = "refreshing" >
                      refreshing...
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary" id = "all_store_table">
                        <tr>
                          <th> Name </th>
                          <th hidden> FeedBack </th>
                          <th> status </th>
                          <th> Question </th>
                          <th> actions </th>
                          <!-- <th> Attandants </th> -->
                          <th>
                              <i class="material-icons" style="float: right;" onclick="refreshallstore({{data['id']}})">
                                  refresh
                                  <p hidden id = "user_id">{{ data['id'] }}</p>
                              </i> 
                          </th>
                        </tr>
                      </thead>
                      <tbody id = "stores_data">
                        {% for item in data["stores"] %}
                        <tr>
                          <td>
                            <a href="/store/{{item[0]}}" target="_blank">
                              {{ item[1] }}
                            </a>
                          </td>
                          <td hidden>
                            {% if item[-1] == 0 %}
                            <svg height="25" width="25">
                              <circle value = "{{item[2]}}" id = "circle{{item[0]}}" cx="12" cy="12" r="10" fill="blue" />
                            </svg>
                          
                            {% endif %}
                            {% if item[-1] > 33 and item[-1] <= 66 %} <i class="material-icons satisfied" id = "circle{{item[0]}}" style="color: orange;">
                                sentiment_satisfied
                              </i>
                              {% endif %}
                              {% if item[-1] > 66 %}
                              <i class="material-icons verysatisfied"  id = "circle{{item[0]}}"style="color: green;">
                                sentiment_very_satisfied
                              </i>
                              {% endif %}
                              {% if item[-1] >= 1 and item[-1] <= 33 %} <i class="material-icons dissatisfied" id = "circle{{item[0]}}" style="color: red;">
                                sentiment_very_dissatisfied
                                </i>
                                {% endif %}
                          </td>
                          <td id="{{item[0]}}" class="ids_of_store" style="color: red;font-weight: bold;">offline</td>
                          {% if item[3] == '' %}
                          <p hidden id = "{{item[0]}}_question">{{item[3]}}</p>
                          <p hidden id = "{{item[0]}}_tag_line">{{item[5]}}</p>
                          <td onclick=openmodal("{{item[0]}}") id="{{item[0]}}_question_text" >No question </td>
                          {% endif %}
                          {% if item[3] != '' %}
                          <p hidden id = "{{item[0]}}_question">{{item[3]}}</p>
                          <p hidden id = "{{item[0]}}_tag_line">{{item[5]}}</p>
                          <td onclick=openmodal("{{item[0]}}") id="{{item[0]}}_question_text" style="
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  ">{{ item[3] }} </td>
                          {% endif %}
                          <td>
                            <!-- <i class="material-icons" onclick=openmodalcomment("{{item[0]}}")>comment</i> -->
                            <!-- <i class="material-icons" onclick=show_chart("{{item[0]}}","{{item[1].replace(" ","_")}}")>insert_chart</i> -->
                            <i class="material-icons" onclick=delete_question("{{item[0]}}")>delete</i>
                          </td>
                          <!-- <td>
                              <div class="form-check">
                                  <label class="form-check-label">
                                      <input  class="form-check-input" type="checkbox" id= "check_{{item[0]}}" {{'checked' if item[-2]==1 else ''}}
                                              onclick="changeAttandantStatus('{{item[0]}}')"> 
                                      <span class="form-check-sign">
                                          <span class="check"></span>
                                      </span>
                                  </label>
                              </div>
                          </td> -->
                          <td></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row" id="all_attandants" style="display:none">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form method="POST" enctype=multipart/form-data id = "form_attandant"> 
                    <div class="form-group">
                      <label>Attendant Name</label>
                      <input type="text" class="form-control" name="attendantname" placeholder="Enter Attendant Name">
                    </div>
                    <div class="">
                      <label for="attendant_image">Attendant Image</label>
                      <br>
                      <input type="file" name="attendant_image" required>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-11 col-sm-11">
                            <label>Select Store To Assign</label>
                            <select class="form-control selectpicker" data-style="btn btn-link" name="attandant_store" >
                              <option value = "">Select</option>
                            </select>
                        </div>
                        <div class="col-md-1 col-sm-1">
                          <i class="material-icons" style="float: right;" onclick="get_all_stores_name({{data['id']}})">
                              refresh
                          </i>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="nbtn btn btn-primary" id="add_new_attendant">Add New Attendant</button>
                </form>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                      <div class="col-md-5 col-sm-5">
                          <select class="form-control selectpicker" id="show_progress_selected" data-style="btn btn-link" name="attandant_store" >
                            <option value = "">SelectStore</option>
                          </select>
                      </div>
                      <div class="col-md-5 col-sm-5">
                          <input id="monthFilter"  class="form-control" type="month" name="monthFilter" value="overall">
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <button class="btn btn-primary" style="background-color: #0088EC;" onclick=show_progress()>
                            <i class="material-icons" >
                                search
                            </i>
                        </button>
                        <i class="material-icons" style="float: right;" onclick="get_all_stores_name({{data['id']}})">
                          refresh
                      </i> 
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <tr>
                        <th style="width: 10%;">Image</th>
                        <th style="width: 70%;">Reviews</th>
                        <th hidden>Total</th>
                        <th style="width: 10%;">Ranking</th>
                        <th style="width: 10%;">Comments</th>
                    </tr>
                </thead>
                <tbody id = "progrssOfAttandants">
                   
                </tbody>
            </table>
        </div>
                </div>
              </div>
            </div>
          </div>
          


        <div class="row" id="refresh_button" style="display:none">
          <div class="col-md-12">
            <div style="float: right;">
              <i class="material-icons" onclick=show_chart("refresh","refresh")>
                refresh
              </i>
            </div>
          </div>
        </div>
        <div class="row" id="all_charts">

        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="card text-center">
            <div class="card-body">
              <form  method="POST" id = "update_question_form">
                <div class="form-group">
                  <label for="inputAddress">Question</label>
                  <input type="text" class="form-control" name="question" id="question" placeholder="Question">
                  <input type="text" class="form-control" name="question_id" id="question_id" hidden>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Tag line</label>
                  <input type="text" class="form-control" name="tag_line" id="tag_line" placeholder="Tag Line">
                  <input type="text" class="form-control" name="tag_line_id" id="tag_line_id" hidden>
                </div>
                <br>
                <button class="btn btn-primary">Update</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalcomment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" style="max-width: 90%;">
        <div class="modal-content">
          <div class="card text-center">
            <div class="card-body" style="
                  overflow: scroll;
              ">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th style="width: 20%;"> Email </th>
                    <th style="width: 20%;"> Contact </th>
                    <th style="width: 20%;"> Time </th>
                    <th style="width: 40%;"> Comment </th>
                  </tr>
                </thead>
                <tbody id="allfeedback">

                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalEditAttandant" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="card">
            <div class="card-body" >
                <form method="POST" enctype="multipart/form-data" id="updateFormAttandant"> 
                  <div class="form-group">
                    <label>Attendant Name</label>
                    <input type="text" class="form-control" name = "updateAttandatName" id="updateAttandatName" placeholder="Enter Attendant Name">
                    <input type="text" class="form-control" name = "updateAttandatId" id="updateAttandatId" hidden >
                  </div>
                  <div class="">
                    <label for="attendant_image">Attendant Image</label>
                    <br>
                    <input type="file" name="updatedAttandantImage" >
                  </div>
                  <button type="submit" class="nbtn btn btn-primary" id="updateAttendant">Update Attendant</button>
              </form>
              <button class="btn btn-danger float-right" onclick="deleteAttendant()">Delete Attendant</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- <img onclick = changelang("sp") style="width: 5%;" src = "static/img/spain.png">
                      <img onclick = changelang("pg") style="width: 5%;" src = "static/img/portugal.png">
                      <img onclick = changelang("es") style="width: 5%;" src = "static/img/uk.png"> -->
          </div>
          <div class="col-md-12">
            <p style="float:right;">developed by Wfeedback</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </div>


  <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/material-dashboard.js') }}" type="text/javascript"></script>

  <script>
    document.getElementById("all_stores").style.display = "none"
    document.getElementById("profile").style.display = ""

    function deleteAttendant(){
      id = document.getElementById('updateAttandatId').value
      $.post("/deleteAttandant", {"id": id}, function (data, status, xhr) {
        alert("deleted")
      })
    }

    function attandantModal(name, id){
      document.getElementById('updateAttandatName').value = name
      document.getElementById('updateAttandatId').value = id
      document.getElementsByName('updatedAttandantImage')[0].value = ""
      $('#modalEditAttandant').modal(true)
    }

    function show_progress(){
      $('#progrssOfAttandants').html('')
      year = ''
      month = ''
      if (document.getElementById("show_progress_selected").value == "") {
        alert("Select Store")
        return
      }
      if (document.getElementById('monthFilter').value != "") {
        _ = document.getElementById('monthFilter').value.split("-")
        year = _[0]
        month = _[1]
      }
      store_id = document.getElementById("show_progress_selected").value
      $.post("/get_all_attandant_progress", {"store_id": store_id, "year": year, "month": month}, function (data, status, xhr) {
        el = document.getElementById("progrssOfAttandants")
        el.innerHTML = ''
        console.log(data)
        for (kk=0; kk<data.data.length; kk++) {
          attandant_id = data.data[kk].id
          name = data.data[kk].name
          image = data.data[kk].image
          no_of_commets = data.data[kk].totalComments
          green = data.data[kk].green
          yellow = data.data[kk].yellow
          red = data.data[kk].red
          position = data.data[kk].position
          if (position == 1){src= "./static/img/1st.jpg"}
          else if (position == 2){src= "./static/img/2nd.png"}
          else if (position == 3){src= "./static/img/3rd.png"}
          else {src = ''}
          $('#progrssOfAttandants').append(`
          <tr>
                        <td onclick = "attandantModal('`+name+`','`+attandant_id+`')">
                          <img src="./static/img/attendant_image/` + image + `" class="avatar img-raised" style="width: 100%;"></td>
                        <td>
                            <div class="row text-center">
                                <div class="col-sm-4 col-md-4 ">
                                    <i class="img-raised rounded-circle img-fluid material-icons dissatisfied"
                                        style="color: red;">
                                        sentiment_very_dissatisfied
                                    </i>
                                    <h6>` + red + `</h6>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <i class="img-raised rounded-circle img-fluid material-icons dissatisfied"
                                        style="color: orange;">
                                        sentiment_satisfied
                                    </i>
                                    <h6>` +yellow+  `</h6>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <i class="img-raised rounded-circle img-fluid material-icons dissatisfied"
                                        style="color: green;">
                                        sentiment_very_satisfied
                                    </i>
                                    <h6>` + green + `</h6>
                                </div>
                            </div>
                        </td>
                        <td hidden>
                            <i class="img-raised rounded-circle img-fluid material-icons dissatisfied" style="color: ;font-size: 60px;">
                                
                            </i>
                        </td>
                        <td>
                            <img src= "`+src+`" style="width:65%"></i>
                        </td>
                        <td onclick = "openmodalcomment('`+attandant_id+`','`+year+`','`+month+`')">
                            <i class="img-fluid material-icons">
                                comment
                            </i>
                            <span class="badge" style="position: absolute;background: red;color: white;font-size: inherit;">
                                `+ no_of_commets+`
                            </span>
                        </td>
                    </tr>
          `)
        }
      });
    }

    function get_all_stores_name(user_id){
      data = { "user_id": user_id }
      $.post("/get_all_stores_data", data, function (data, status, xhr) {
        select_tag_attandants = document.getElementsByName("attandant_store")
        for (each=0 ;each< select_tag_attandants.length; each++ ) {
          select_tag_attandants[each].innerHTML = "<option value=''>SelectStore</option>";
          for (i = 0; i< data.stores.length; i++){
            option = document.createElement("option");
            option.text = data.stores[i][1];
            option.value = data.stores[i][0];
            select_tag_attandants[each].add(option)
          }
        }
      });
    }
    function changeAttandantStatus(store_id){
      checkbox = document.getElementById("check_" + store_id)
      if (checkbox.checked){show_attandants = 1}
      else { show_attandants = 0}
      data = { "store_id": store_id, "show_attandants": show_attandants }
      $.post("/changeAttandantStatus", data, function (data, status, xhr) {
        
      });
    }
  </script>
  <script>
    localStorage.setItem("lang", "es");
    function changelang(lang) {
      localStorage.setItem("lang", lang);
      window.location = "/" + lang;
    }
    var update_question_form = document.getElementById('update_question_form')
    update_question_form.onsubmit = function(){
      event.stopPropagation(); // Stop stuff happening
      event.preventDefault();
      var formData = new FormData(update_question_form);
      $.ajax({
        url: "/update_question",
        type: 'POST',
        data: formData,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        success: function(data, textStatus, jqXHR)
        {
          document.getElementById(data["question_id"] + "_question_text").innerText = data["question"]
          document.getElementById(data["question_id"] + "_question").innerText = data["question"]
          document.getElementById(data["question_id"] + "_tag_line").innerText = data["tag_line"]
        }});
    }

    var form = document.getElementById('form_store');
    form.onsubmit = function() {
        butn = document.getElementById("add_new_store")
        butn.disabled = true
        butn.innerText = "Processing..."
        butn.setAttribute("style","background: gray !important;")

        event.stopPropagation(); // Stop stuff happening
        event.preventDefault();
        var formData = new FormData(form);
        console.log(document.getElementsByName('file')[0])
        formData.append('file', document.getElementsByName('file')[0]);
        console.log(formData)
        
        $.ajax({
        url: 'addstore',
        type: 'POST',
        data: formData,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        success: function(data, textStatus, jqXHR)
        {
          
        }});

        setTimeout(function()
            { 
              butn.innerText = "Add New Store"
              butn.disabled = false
              butn.setAttribute("style","")
              document.getElementsByName("file")[0].value = ''
              document.getElementsByName("storename")[0].value = ''
              document.getElementsByName("question")[0].value = ''
              document.getElementsByName("tag_line")[0].value = 'Select Attandant'
              refreshallstore(document.getElementById("user_id").innerText)
            }, 2000);
        

        return false; // To avoid actual submission of the form
    }
    
    var form_attandant = document.getElementById('form_attandant');
    form_attandant.onsubmit = function() {
      butn = document.getElementById("add_new_attendant")
      butn.disabled = true
      butn.innerText = "Processing..."
      butn.setAttribute("style","background: gray !important;")
      
      event.stopPropagation(); // Stop stuff happening
      event.preventDefault();
      var formData = new FormData(form_attandant);
      formData.append('file', document.getElementsByName('attendant_image')[0]);
      
      $.ajax({
      url: 'addattandant',
      type: 'POST',
      data: formData,
      cache: false,
      dataType: 'json',
      processData: false, // Don't process the files
      contentType: false, // Set content type to false as jQuery will tell the server its a query string request
      success: function(data, textStatus, jqXHR)
      {
        
      }});

      setTimeout(function()
      { 
        butn.innerText = "Add New Attandant"
        butn.disabled = false
        butn.setAttribute("style","")
        document.getElementsByName("attendantname")[0].value = ''
        document.getElementsByName("attendant_image")[0].value = ''
        document.getElementsByName("attandant_store")[0].value = ''
      }, 2000);
        return false; // To avoid actual submission of the form
    }

    var updateFormAttandant = document.getElementById('updateFormAttandant');
    updateFormAttandant.onsubmit = function() {
      butn = document.getElementById("updateAttendant")
      butn.disabled = true
      butn.innerText = "Updating..."
      butn.setAttribute("style","background: gray !important;")
      
      event.stopPropagation(); // Stop stuff happening
      event.preventDefault();
      var formData = new FormData(updateFormAttandant);
      formData.append('file', document.getElementsByName('updatedAttandantImage')[0]);
      $.ajax({
      url: 'updateattandant',
      type: 'POST',
      data: formData,
      cache: false,
      dataType: 'json',
      processData: false, // Don't process the files
      contentType: false, // Set content type to false as jQuery will tell the server its a query string request
      success: function(data)
        {
          show_progress()
        }
      });
      setTimeout(function()
      { 
        butn.innerText = "Update Attandant"
        butn.disabled = false
        butn.setAttribute("style","")
        document.getElementsByName("attendantname")[0].value = ''
        document.getElementsByName("attendant_image")[0].value = ''
        document.getElementsByName("attandant_store")[0].value = ''
      }, 2000);
      return false; // To avoid actual submission of the form
    }

    function refreshallstore(user_id){
      document.getElementById("refreshing").style.display = ''
      console.log(user_id)
      data = { "user_id": user_id }
      console.log(JSON.stringify(data))
      $.post("/get_all_stores_data", data, function (data, status, xhr) {
        console.log(data)
        ids_of_store = document.getElementsByClassName("ids_of_store")
        on_page_ids = new Set()
        from_db_ids = new Set()
        data_object = {}
        for (i=0;i<ids_of_store.length;i++)  { 
            on_page_ids.add(ids_of_store[i].id)
        }
        for (i=0;i<data["stores"].length;i++)  { 
            data_object[data["stores"][i][0]] = data["stores"][i]
            from_db_ids.add(data["stores"][i][0])
        }
        console.log(on_page_ids)
        console.log(from_db_ids)
        new_stores = new Set([...from_db_ids].filter(x => !on_page_ids.has(x)));
        console.log(new_stores)
        if (new_stores.size >= 1){
          new_stores.forEach(store => {
            new_store_data = data_object[store] 
            console.log(new_store_data)
            sentiment_very_dissatisfied = "hidden"
            sentiment_satisfied = "hidden"
            sentiment_very_satisfied = "hidden"
            new_store = "hidden"
            





            if (new_store_data[2] >= 1 && new_store_data[2] <= 33){
              color = "red"
              reaction = "dissatisfied"
              r_type  = "sentiment_very_dissatisfied"
              html = `<i class="material-icons `+reaction+`" id = "circle`+new_store_data[0]+`" style="color: `+color+`;">
                            `+r_type+`
              </i>`
            }
            if (new_store_data[2] > 33 && new_store_data[2] <= 66){
              color = "orange"
              reaction = "satisfied"
              r_type  = "sentiment_satisfied"
              html = `<i class="material-icons `+reaction+`" id = "circle`+new_store_data[0]+`" style="color: `+color+`;">
                            `+r_type+`
              </i>`
            }
            if (new_store_data[2] > 66){
              color = "green"
              reaction = "verysatisfied"
              r_type  = "sentiment_very_satisfied"
              html = `<i class="material-icons `+reaction+`" id = "circle`+new_store_data[0]+`" style="color: `+color+`;">
                            `+r_type+`
              </i>`
            }
            if (new_store_data[2] == 0){
              html = `<svg height="25" width="25">
                            <circle value = "`+new_store_data[2]+`" id = "circle`+new_store_data[0]+`" cx="12" cy="12" r="10" fill="blue" />
              </svg>`
            }
            $('#stores_data').append(`<tr>
                        <td>
                          <a href="/store/`+new_store_data[0]+`" target="_blank">
                            `+new_store_data[1]+`
                          </a>
                        </td>
                        <td hidden>
                          `+html+`
                           
                            
                            
                              
                        </td>
                        <td id="`+new_store_data[0]+`" class="ids_of_store">offline</td>
                        
                      <td hidden><p  id = "`+new_store_data[0]+`_question">`+new_store_data[3]+`</p></td>
                      <td hidden><p  id = "`+new_store_data[0]+`_tag_line">`+new_store_data[5]+`</p></td>
                        <td onclick=openmodal("`+new_store_data[0]+`") id="`+new_store_data[0]+`_question_text">`+new_store_data[3]+` </td>
                        
                        
                        
                        
                        <td>
                          <i class="material-icons" onclick=delete_question("`+new_store_data[0]+`")>delete</i>
                        </td>
                        
                        <td></td>
                        
                      </tr>`)

          })
        }
        document.getElementById("refreshing").style.display = 'none'
        document.getElementById("total_store_number").innerText = document.getElementsByClassName("ids_of_store").length
        // for(j = 0; j < data["stores"].length ; j++){
        //   ids_of_store = document.getElementsByClassName("ids_of_store")
        //   for (i = 0 ; i< ids_of_store.length; i++){
        //     if (data["stores"][j][0] == ids_of_store[i].id){
        //       break
        //     }
            
        //   }
          
          
          
        // }
      })
      
    }

    function delete_question(id) {
      var confirm = prompt("Please enter 'y' to delete", "n");
      if (confirm == 'y') {
        data = { "id": id }
        console.log(JSON.stringify(data))
        $.post("/delete_question", data, function (data, status, xhr) {
          document.getElementById(id).parentNode.remove()
          document.getElementById("total_store_number").innerText = document.getElementsByClassName("ids_of_store").length
        })
      }
    }
    
    function openmodal(id) {
      console.log(document.getElementById(id + "_question"))
      console.log(document.getElementById(id + "_tag_line"))
      document.getElementById("question").value = document.getElementById(id + "_question").innerText
      document.getElementById("question_id").value = id
      document.getElementById("tag_line").value = document.getElementById(id + "_tag_line").innerText
      document.getElementById("tag_line_id").value = id
      $('#modal').modal(true)
    }

    function openmodalcomment(id, year,month) {
      console.log(id, year,month) 
      $('#allfeedback').html('')
      data = { "id": id, 'year':year, 'month':month }
      console.log(JSON.stringify(data))
      $.post("/getfeedback", data, function (data, status, xhr) {
        all_rows = JSON.parse(data)
        for (i = 0; i < all_rows.length; i++) {
          color = ""
          if (all_rows[i][5] == 33) {
            color = "red"
          }
          if (all_rows[i][5] == 66) {
            color = "orange"
          }
          if (all_rows[i][5] == 100) {
            color = "green"
          }
          $('#allfeedback').append(`
              <tr>
                <td>`+ all_rows[i][1] + `</td>
                <td>`+ all_rows[i][2] + `</td>
                <td style="color: `+ color + `;">` + all_rows[i][4] + `</td>
                <td>`+ all_rows[i][3] + `</td>
              </tr>
          `)
        }
      })
      $('#modalcomment').modal(true)
    }

    function show_chart(id, store_name) {

      if (id == "refresh" && store_name == "refresh") {
        id = document.getElementById("current_id").innerText
        store_name = document.getElementById("current_store_name").innerText
        console.log(id)
        console.log(store_name)

      }
      document.getElementById("all_stores").style.display = "none"
      document.getElementById("refresh_button").style.display = ""
      document.getElementById("page_title").innerHTML = "Visuals"
      document.getElementById("all_charts").style.display = ""

      $.get('/get_store_graphs/' + id, function (responseText) {
        document.getElementById("all_charts").innerHTML = ""
        all_store = JSON.parse(responseText);
        all_month_data = all_store["data"]
        name = all_store["name"]
        for (i = 0; i < all_month_data.length; i++) {
          console.log(all_month_data[i])
          monthandyear = Object.keys(all_month_data[i])[0]
          month = monthandyear.split(",")[0]
          year = monthandyear.split(",")[1]
          t33 = all_month_data[i][monthandyear]["33"]
          t66 = all_month_data[i][monthandyear]["66"]
          t100 = all_month_data[i][monthandyear]["100"]
          total_res = t33 + t66 + t100
          rating = ((t33 * 33) + (t66 * 66) + (t100 * 100)) / total_res
          if (rating <= 33) {
            smile_color = "red"
            smilyey = "sentiment_very_dissatisfied"
          }
          if (rating > 33 && rating <= 66) {
            smile_color = "orange"
            smilyey = "sentiment_satisfied"
          }
          if (rating > 66) {
            smile_color = "green"
            smilyey = "sentiment_very_satisfied"
          }

          $('#all_charts').append(`<div class="col-md-4">
                  <div class="card">
                  <div><p id = "current_id" hidden>`+ id + `</p><p id = "current_store_name" hidden>` + store_name.replace(/_/g, " ") + `</p></div>
                    <div class="card-header card-header-primary text-center" style="background:none;background-color:#0089ec;">
                      <h4 class="card-title">`+ store_name.replace(/_/g, " ") + `</h4>
                    </div>
                    <div class="card-body">
    <div class="text-center"><h4 style="
    margin-top: -11px;
">`+ year + `</h4>
<h2 style="
    margin-top: -19px;
"><strong>`+ month + `</strong></h2>
    <h5 style="
    margin-top: -8px;
">`+ parseFloat(rating).toFixed(2) + `%</h5>
</div>
<div class="row text-center"><div class="col-md-12 text-center"><i class="img-raised rounded-circle img-fluid material-icons verysatisfied" style="
    color: `+ smile_color + `;
    font-size: 159px;
">
                                                `+ smilyey + `
                                            </i>
  </div></div>
<div class="row text-center"><div class="col-md-12"><h4> `+ total_res + ` feedbacks</h4></div><div class="col-sm-4 col-md-4"><i class="img-raised rounded-circle img-fluid material-icons dissatisfied" style="
    color: red;
">
                                                sentiment_very_dissatisfied
                                            </i>
  <h6>`+ t33 + `    </h6>
  </div>

<div class="col-sm-4 col-md-4"><i class="img-raised rounded-circle img-fluid material-icons satisfied" style="
    color: orange;
">
                                                sentiment_satisfied
                                            </i>
  <h6>`+ t66 + `    </h6>
  </div><div class="col-sm-4 col-md-4"><i class="img-raised rounded-circle img-fluid material-icons verysatisfied" style="
    color: green;
">
                                                sentiment_very_satisfied
                                            </i>
  <h6>`+ t100 + `    </h6>
  </div>

</div>  
                        
                    </div>
                </div>`)
        }
      }
      );

    }
    function sideclick(num, user_id = "") {
      document.getElementById("all_stores").style.display = "none"
      document.getElementById("refresh_button").style.display = "none"
      // document.getElementById("whatsapp_shares_table").style.display = "none"
      all_nav_item = document.getElementsByClassName("nav-item")
      for (i = 0; i < all_nav_item.length; i++) {
        all_nav_item[i].classList.remove("active")
      }
      all_nav_item[num + 1].classList.add("active")
      if (num == 0) {
        document.getElementById("page_title").innerHTML = "MANAGER"
        document.getElementById("all_stores").style.display = ""
        document.getElementById("profile").style.display = "none"
        document.getElementById("all_charts").style.display = "none"
        document.getElementById("all_attandants").style.display = "none"
      }
      if (num == 1) {
        document.getElementById("page_title").innerHTML = "Attendants"
        document.getElementById("profile").style.display = "none"
        document.getElementById("all_charts").style.display = "none"
        document.getElementById("all_attandants").style.display = ""
      }
    }

    // function show_share_table(user_id){
    //   document.getElementById("whatsapp_shares_table_body").innerHTML = ""
    //   data = { "user_id": user_id }
    //   console.log(data)
    //   $.post("/get_all_stores_data", data, function (data, status, xhr) {
    //     console.log(data)
    //     for (i = 0; i < data["stores"].length; i++) {
    //       $('#whatsapp_shares_table_body').append(`
    //       <tr>
    //         <td>`+data["stores"][i][1]+`</td>
    //         <td>
    //           <button class="btn btn-primary" style="background-color: gray;border-radius: 50px;">validate</button>
    //           <button class="btn btn-primary" style="background-color: green;border-radius: 50px;">report</button>
    //           <button class="btn btn-primary" style="border-radius: 50px;" onclick=openwhatsapp("code")>shares</button>
    //         </td>
    //       </tr>
    //       `)
    //     }
    //   })
    // } 

    // function openwhatsapp(code){
    //   window.open("https://web.whatsapp.com/send?text=123", "", "width=900,height=600")
    // }
    
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var myParam = window.location.href.split("/")
    socket.on('connect', function (all_ids) {
      console.log(all_ids)
    })
    socket.on('getallonlinestoresres', function (all_ids) {
      for (i = 0; i < all_ids.length; i++) {
        console.log(all_ids)
        each = all_ids[i]
        id = each.split(",")[1]
        class_add = each.split(",")[0]
        el = document.getElementById(id)
        if (el != null){
          el.innerText = "online"
          // el.classList = []
          el.classList.add(class_add)
          el.style.color = "green"
          el.style.fontWeight = "bold"
          
        }
        
      }
    })
    socket.on('disgetallonlinestoresres', function (disconnectid) {
      console.log(disconnectid)
      el = document.getElementsByClassName(disconnectid)
      console.log(el)
      console.log(el.length)
      if (el.length >= 1) {
        document.getElementsByClassName(disconnectid)[0].innerText = "offline"
        document.getElementsByClassName(disconnectid)[0].style.color = "red"
        document.getElementsByClassName(disconnectid)[0].style.fontWeight = "bold"
      }
    })
    socket.on('updatefeedback', function (data) {
      element = document.getElementById("circle" + data["id"])
      console.log(data)
      console.log(element.tagName)
      current_value = data["rating"]
      if (element.tagName == 'circle'){
        console.log("blue")
        parent = element.parentNode.parentNode
        parent.innerHTML = ''
        parent.innerHTML = `<i class="material-icons verysatisfied" id = "circle`+data['id']+`" style="color: green;">
                              sentiment_very_satisfied
                            </i>`
      }
      element = document.getElementById("circle" + data["id"])
      console.log(element)
      if (current_value < 34) {
        console.log("red")
        element.style.color = 'red';
      }
      else if (current_value < 67 && current_value > 33) {
        console.log("yello")
        element.style.color = 'orange';
      }
      else if (current_value > 66) {
        console.log("green")
        element.style.color = 'green';
      }




    })
  </script>

</body>

</html>