<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        Admin
    </title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='css/material-kit.css') }}" rel="stylesheet" />
    <style>
        .verysatisfied {
            color: green;
            font-size: 175px;
        }

        .satisfied {
            color:orange;
            font-size: 175px;
        }

        .dissatisfied {
            color:red;
            font-size: 175px;
        }
        .header-filter::before { 
background:white}
    </style>
</head>

<body class="login-page sidebar-collapse">
    <div id= "smiley"class="page-header header-filter" style=" background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="col-md-12">
                        <div class="card">
                            <div> <img src="{{ url_for('static', filename='img/') }}{{data['pic_link']}}" style="
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                width: 50%;
                            ">
                            </div>
                            <div class="card-body">
                                <div>
                                    <h2 class="card-title text-center" style="margin-bottom: 25px;font-family: 'Playfair', serif;font-style: italic;font-size: 65px;color: black;font-weight: 1;">
                                        {{ data["question"] }}
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 text-center" onclick="feedback(100)">
                                            <i class="img-raised rounded-circle img-fluid material-icons verysatisfied">
                                                sentiment_very_satisfied
                                            </i>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center" onclick="feedback(66)">
                                            <i class="img-raised rounded-circle img-fluid material-icons satisfied">
                                                sentiment_satisfied
                                            </i>
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center" onclick="feedback(33)">
                                            <i class="img-raised rounded-circle img-fluid material-icons dissatisfied">
                                                sentiment_very_dissatisfied
                                            </i>
                                    </div>

                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
        </footer>
    </div>
    <div id= "thank_you" class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="col-md-12">
                        <div class="card">
                                <div> <img src="{{ url_for('static', filename='img/') }}{{data['pic_link']}}" style="
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    width: 50%;
                                ">
                                </div>
                            <div class="card-body">

                                <h1 class="title 
                       text-center"  style="margin-bottom: 25px;font-family: 'Playfair', serif;font-style: italic;font-size: 65px;color: black;font-weight: 1;">
                                    Obrigado
                                
                            </br>
                            <button class="btn btn-primary text-center" style="
    font-family: 'Playfair', serif;
    font-style: italic;
" onclick="showcommentsection()" id= "commentbutton">Deixe o seu comentario</button></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
        </footer>
    </div>

    <div id= "comment_section" class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); display:none; background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="col-md-12">
                        <div class="card">
                                <div> <img src="{{ url_for('static', filename='img/') }}{{data['pic_link']}}" style="
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    width: 50%;
                                ">
                                </div>
                                <div class="card-body">
                                        <br>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input oninput = "removetime()" type="email" name = "email" class="form-control" id="inputEmail4" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input oninput = "removetime()" type="tel" name = "tel" class="form-control" id="inputPassword4" placeholder="Telephone/Whatsapp">
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <label onclick = "removetime()" for="exampleFormControlTextarea1">Comente</label>
                                            <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div> <button onclick="addfeedback()" class="float-right btn btn-primary">Próximo</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
        </footer>
    </div>
<script>
    myVar = -1
    myVar2 = -1
    myVar3 = -1
    document.getElementById("smiley").style.display = ""
    document.getElementById("thank_you").style.display = "none"
    rating = 0
    function removetime(){
        console.log("ddd")
        if ( myVar != -1) {
            clearTimeout(myVar);
        }
        if ( myVar2 != -1) {
            clearTimeout(myVar2);
        }
        if ( myVar3 != -1) {
            clearTimeout(myVar3);
        }
        
    }
    function addfeedback(){
        inputEmail4 = document.getElementById("inputEmail4").value 
        inputPassword4 = document.getElementById("inputPassword4").value 
        exampleFormControlTextarea1 = document.getElementById("exampleFormControlTextarea1").value 
        var myParam = window.location.href.split("/")
        id = myParam[myParam.length-1]
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;
        data = {"f_time":dateTime,"rating":rating,"id":id, "inputEmail4":inputEmail4, "inputPassword4":inputPassword4, "exampleFormControlTextarea1":exampleFormControlTextarea1}
        console.log(JSON.stringify(data))
        $.post("/addfeedback", data)
        document.getElementById("thank_you").style.display = ""
        document.getElementById("commentbutton").style.display = "none"
        document.getElementById("comment_section").style.display = "none"
        myVar3 = setTimeout(function()
            { 
                document.getElementById("smiley").style.display = ""
                document.getElementById("thank_you").style.display = "none" 
                document.getElementById("comment_section").style.display = "none"
            }, 5000);
    }
    function showcommentsection(){
        clearTimeout(myVar);
        document.getElementById("thank_you").style.display = "none"
        document.getElementById("comment_section").style.display = ""
        document.getElementById("inputEmail4").value = ""
        document.getElementById("inputPassword4").value = ""
        document.getElementById("exampleFormControlTextarea1").value = ""
        inputEmail4 = document.getElementById("inputEmail4").value 
        inputPassword4 = document.getElementById("inputPassword4").value 
        exampleFormControlTextarea1 = document.getElementById("exampleFormControlTextarea1").value 
        var myParam = window.location.href.split("/")
        id = myParam[myParam.length-1]
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;
        data = {"f_time":dateTime,"rating":rating,"id":id, "inputEmail4":inputEmail4, "inputPassword4":inputPassword4, "exampleFormControlTextarea1":exampleFormControlTextarea1}
        console.log(JSON.stringify(data))
        $.post("/addfeedback", data)
        myVar2 = setTimeout(function()
            { 
                document.getElementById("smiley").style.display = ""
                document.getElementById("thank_you").style.display = "none" 
                document.getElementById("comment_section").style.display = "none"
            }, 10000);
    }
    function feedback(type){
        rating = type
        document.getElementById("commentbutton").style.display = ""
        var myParam = window.location.href.split("/")
        id = myParam[myParam.length-1]
        data = {"id":id, "rating":type}
        console.log(JSON.stringify(data))
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var dateTime = date+' '+time;
        document.getElementById("smiley").style.display = "none"
        document.getElementById("thank_you").style.display = ""
        myVar = setTimeout(function()
            { 
                document.getElementById("smiley").style.display = ""
                document.getElementById("thank_you").style.display = "none" 
                $.post("/update_rating", {"id":id, "rating":type, "f_time":dateTime})
            }, 5000);
        
    }
</script>
<script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var myParam = window.location.href.split("/")
    socket.on( 'connect', function() {
      socket.emit( 'storeconnected', {
        id: myParam[myParam.length-1]
      } )})
</script>
</body>

</html>