<div ng-show="active != 'questionGraphs'">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Store</label>
                            <select ng-model="stats.selectedStore" class="form-control selectpicker"
                                data-style="btn btn-link">
                                <option value="">Select Store</option>
                                <option ng-repeat="x in allStores" ng-show="x.statstype == '0'" value="[[$index]]">[[x.storename]]</option>>
                            </select>
                        </div>
                        <div ng-if="stats.selectedStore" class="form-group">
                            <label for="exampleFormControlSelect1">Select Type</label>
                            <select ng-model="stats.selectedStoreType" class="form-control selectpicker"
                                data-style="btn btn-link">
                                <option value="">Select Type</option>
                                <option value="question">Question</option>
                                <option value="comment">Comment</option>
                            </select>
                        </div>
                        <div ng-if="stats.selectedStoreType == 'question'" class="form-group">
                            <label for="exampleFormControlSelect1">Select Question</label>
                            <select ng-model="stats.selectedQuestion" class="form-control selectpicker"
                                data-style="btn btn-link">
                                <option value="">Select Question</option>
                                <option ng-repeat="x in allStores[stats.selectedStore].questions" value="[[x.id]]">
                                    [[x.title]]</option>
                            </select>
                        </div>
                        <div ng-if="stats.selectedStoreType == 'comment'" class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <select  ng-model="stats.month" class="form-control selectpicker" data-style="btn btn-link">
                                        <option value="">Select month</option>>
                                        <option ng-repeat="x in monthsName" value="[[$index+1]]">[[x]]</option>>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input  ng-model="stats.year" class="form-control" type="number" min="2019" max= "3000" placeholder="Enter Year">
                                </div>
                            </div>
                        </div>

                        <div ng-if="stats.selectedStoreType == 'question'" class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <input  ng-model="stats.year" class="form-control" type="number" min="2019" max= "3000" placeholder="Enter Year">
                                </div>
                            </div>
                        </div>
                        <button ng-click="getstoreStats(stats)" class="nbtn btn float-right btn-primary">Show Stats</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" ng-repeat="eactMonth in storeStatRzlt.slice().reverse()">
            <div class="card">
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">
                        <strong>
                            [[ monthsName[eactMonth._id.month - 1] ]] [[ eactMonth._id.year ]]
                        </strong>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h3 style="margin: 0 !important;">
                            <strong>
                                [[ eactMonth.nps = ( (eactMonth["100"] - eactMonth["33"]) / eactMonth.count ) * 100 | number : 2]] %
                            </strong>
                            <i ng-click="showgraphsquestionmonth(eactMonth._id.month, eactMonth._id.year)" class="float-right img-fluid material-icons">
                                equalizer
                            </i>
                        </h3>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 text-center">
                            <i ng-if="eactMonth.nps >= -100 && eactMonth.nps <= 49.99 " class="img-raised rounded-circle img-fluid material-icons verysatisfied" style="color: red;font-size: 159px;">
                                sentiment_very_dissatisfied 
                            </i>
                            <i ng-if="eactMonth.nps >= 50 && eactMonth.nps <= 69.99" class="img-raised rounded-circle img-fluid material-icons verysatisfied" style="color: orange;font-size: 159px;">
                                sentiment_satisfied 
                            </i>
                            <i ng-if="eactMonth.nps >= 70 && eactMonth.nps <= 100" class="img-raised rounded-circle img-fluid material-icons verysatisfied" style="color: green;font-size: 159px;">
                                sentiment_very_satisfied 
                            </i>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3 style="margin: 0 !important;">
                                <strong>
                                    [[eactMonth.count]] feedbacks
                                </strong>
                            </h3>
                        </div>
                        <div class="col-sm-4 col-md-4"><i
                                class="img-raised rounded-circle img-fluid material-icons dissatisfied" style="color: red;font-size: 33px;">
                                sentiment_very_dissatisfied
                            </i>
                            <h3 style="margin: 0 !important;">
                                <strong>
                                    [[ eactMonth["33"] ]] 
                                </strong>
                            </h3>
                        </div>

                        <div class="col-sm-4 col-md-4"><i
                                class="img-raised rounded-circle img-fluid material-icons satisfied" style="color: orange;font-size: 33px;">
                                sentiment_satisfied
                            </i>
                            <h3 style="margin: 0 !important;">
                                <strong>
                                    [[ eactMonth["66"] ]] 
                                </strong>
                            </h3>
                        </div>
                        <div class="col-sm-4 col-md-4"><i
                                class="img-raised rounded-circle img-fluid material-icons verysatisfied" style="color: green;font-size: 33px;">
                                sentiment_very_satisfied
                            </i>
                            <h3 style="margin: 0 !important;">
                                <strong>
                                    [[ eactMonth["100"] ]] 
                                </strong>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-if="storeStatComment.length > 0">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class=" text-primary">
                                <tr>
                                    <th> Email </th>
                                    <th> Tel </th>
                                    <th> Comment </th>
                                    <th> Date </th>
                                    <th> Time </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="eachComment in storeStatComment" ng-class="{ratingcolorgreen: eachComment.rating == 100, ratingcolororange: eachComment.rating == 66, ratingcolored: eachComment.rating == 33}">
                                    <td>[[eachComment.email | uppercase ]]</td>
                                    <td>[[eachComment.tel]]</td>
                                    <td>[[eachComment.comment]]</td>
                                    <td>[[ eachComment.created_at | myonlyDateFilter ]]</td>
                                    <td>[[ eachComment.created_at | myTimeFilter ]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="active == 'questionGraphs'">
    <div class="col-md-12">
        <button class="btn btn-primary" ng-click="active='questionstats'">
            BACK
        </button>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="hourlyquestionchart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="daysquestionchart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="comparequestionchart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>