<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form name="addStoreForm">
                    <div class="form-group">
                        <label>Store Name</label>
                        <input required type="managersname" class="form-control" ng-model="newStore.storename" placeholder="Enter Store Name">
                    </div>
                    <div class="form-group">
                        <label>Tag Line</label>
                        <input required type="text" class="form-control" ng-model="newStore.tag_line" placeholder="Tag Line">
                    </div>
                    <div class="form-group">
                        <span class="float-right">
                            <!-- <i class="material-icons" ng-click="addQuestion(newStore)">add</i> -->
                        </span>
                        <div ng-repeat="q in newStore.questions">
                            <br>
                            <label>Question [[$index+1]]</label>
                            <input type="text" class="form-control" ng-model="q.title" placeholder="Enter Question">
                        </div>
                    </div>
                    <div class="form-group" ng-if="newStore.file != undefined">
                        <img ng-src="[[newStore.file]]" style="width:10%;" alt="logo"
                            class="img-raised rounded img-fluid">
                    </div>
                    <div>
                        <label for="exampleInputEmail1">logo</label>
                        <br>
                        <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*"
                                        ngf-max-height="1000" ngf-max-size="1MB">
                        Select File</button>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select langugae</label>
                        <select required class="form-control selectpicker" data-style="btn btn-link" ng-model="newStore.language">
                            <option value="es">English</option>
                            <option value="sp">Spanish</option>
                            <option value="pg">Português</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Option</label>
                        <select required class="form-control selectpicker" data-style="btn btn-link" ng-model="newStore.statstype">
                            <option value="0">Only Store</option>
                            <option value="1">Only Attandants</option>
                            <!-- <option value="2">Both Store and Attandants</option> -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Ask For Comments</label>
                        <select required class="form-control selectpicker" data-style="btn btn-link" ng-model="newStore.askComments">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Departments Name (e.g security, cleaning)</label>
                        <input type="text" class="form-control" ng-model="newStore.departments" placeholder="Enter Departments Names seprating by ','">
                    </div>
                    <div class="form-group">
                        <div class="form-check success">
                            <label class="form-check-label success">
                                <input class="form-check-input" ng-model="newStore.showReverse" type="checkbox" name="asap" value=""> Show In Reverse
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-init="newStore.color='#9c27b0'">
                        <label>Color</label>
                        <input type="color" class="form-control" ng-model="newStore.color" value="#9c27b0">
                    </div>
                    <button ng-disabled="addStoreForm.$invalid" ng-click="addNewStore(newStore)" class="nbtn btn float-right btn-primary" >Add New Store</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                            <tr>
                                <th> Name </th>
                                <th> Status </th>
                                <th> Question </th>
                                <th> Language </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="store in allStores">
                                <td>
                                    <a ng-href="./stores/[[store._id]]" target="_blank">
                                        [[store.storename]]
                                    </a>
                                </td> 
                                <td ng-if="online.indexOf(store._id) === -1" style="color: red;font-weight: bold;" >offline</td>
                                <td ng-if="online.indexOf(store._id) !== -1" style="color: green;font-weight: bold;" >online</td>
                                <td>[[store.tag_line]]</td>
                                <td ng-if="store.language == 'es'">ES</td>
                                <td ng-if="store.language == 'pg'">PT_BR</td>
                                <td ng-if="store.language == 'sp'">SP</td>
                                <td>
                                    <i class="material-icons" ng-click="editStore(store)">edit</i>
                                    <i class="material-icons" ng-click="deleteStore(store._id)">delete</i>
                                    <i class="material-icons" ng-if="store.statstype != '1'"  ng-click="statsStore(store._id)">assessment</i>
                                    <i class="material-icons" ng-if="store.statstype == '1'"  ng-click="editAttandant(store)">visibility</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="editStore" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">
                <div>
                        <form>
                                <div class="form-group">
                                    <label>Store Name</label>
                                    <p hidden ng-model="editStoreData._id"></p>
                                    <input type="managersname" class="form-control" ng-model="editStoreData.storename" placeholder="Enter Store Name">
                                </div>
                                <div class="form-group">
                                    <label>Tag Line</label>
                                    <input type="text" class="form-control" ng-model="editStoreData.tag_line" placeholder="Tag Line">
                                </div>
                                <div ng-if="editStoreData.statstype == '1'" class="form-group">
                                    <label>Tag Line 2</label>
                                    <input type="text" class="form-control" ng-model="editStoreData.tag_line1" placeholder="Tag Line">
                                </div>
                                <div ng-if="editStoreData.statstype == '1'" class="form-group">
                                    <label>Tag Line 3</label>
                                    <input type="text" class="form-control" ng-model="editStoreData.tag_line2" placeholder="Tag Line">
                                </div>
                                <div class="form-group">
                                    <span class="float-right">
                                        <i class="material-icons" ng-if="editStoreData.statstype == '0'" ng-click="addQuestion(editStoreData)">add</i>
                                    </span>
                                    <div ng-repeat="q in editStoreData.questions">
                                        <br>
                                        <label>Question [[$index+1]]</label>
                                        <input type="text" class="form-control" ng-model="q.title" placeholder="Enter Question">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <img ng-if="editStoreData.file" ng-src="[[editStoreData.file]]" style="width:10%;" alt="logo"
                                        class="img-raised rounded img-fluid">
                                </div>
                                <div>
                                    <label for="exampleInputEmail1">logo</label>
                                    <br>
                                    <button type="file" ngf-select="uploadFiles($file, $invalidFiles,true)" accept="image/*"
                                                    ngf-max-height="1000" ngf-max-size="1MB">
                                    Select File</button>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Select langugae</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" ng-model="editStoreData.language">
                                        <option value="es">English</option>
                                        <option value="sp">Spanish</option>
                                        <option value="pg">Português</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Select Option</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" ng-model="editStoreData.statstype">
                                        <option value="0">Only Store</option>
                                        <option value="1">Only Attandants</option>
                                        <!-- <option value="2">Both Store and Attandants</option> -->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Ask For Comments</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link" ng-model="editStoreData.askComments">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Departments Name (e.g security, cleaning)</label>
                                    <input type="text" class="form-control" ng-model="editStoreData.departments" placeholder="Enter Departments Names seprating by ','">
                                </div>
                                <div class="form-group">
                                    <div class="form-check success">
                                        <label class="form-check-label success">
                                            <input class="form-check-input" ng-model="editStoreData.showReverse" type="checkbox" name="asap" value=""> Show In Reverse
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Color</label>
                                    <input type="color" class="form-control" ng-model="editStoreData.color">
                                </div>
                                <button ng-click="updateStore(editStoreData)" class="nbtn btn float-right btn-primary" >Save Store</button>
                            </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="editAttandant" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">
                <p ng-show="attandantStoreEditModal.attandants.length == 0">No Attandans</p>
                <div ng-show="attandantStoreEditModal.attandants.length != 0" class="row">
                    <div class="col-md-3 text-center" ng-click='attandantReview2(eachAttandant)' ng-repeat="eachAttandant in attandantStoreEditModal.attandants">
                        <img ng-src="../[[eachAttandant.file]]"  class="avatar img-raised" style="width: 75%;">
                        <h3>[[eachAttandant.name]]</h3>
                        <i class="material-icons" ng-click="modifyAttandant(eachAttandant)">edit</i>
                        <i class="material-icons" ng-click="deleteAttandant(eachAttandant.id, attandantStoreEditModal)">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modifyAttandant" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container">
                <form name="editAttandantForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input required type="text" class="form-control" ng-model="modifyAttandantData.name" placeholder="Enter Attandant Name">
                    </div>
                    <div class="form-group" ng-if="modifyAttandantData.file != undefined">
                        <img ng-src="[[modifyAttandantData.file]]" style="width:10%;" alt="logo"
                            class="img-raised rounded img-fluid">
                    </div>
                    <div>
                        <label for="exampleInputEmail1">logo</label>
                        <br>
                        <button type="file" ngf-select="uploadFiles($file, $invalidFiles, 'modifyAttandantData')" accept="image/*"
                                        ngf-max-height="1000" ngf-max-size="1MB">
                        Select File</button>
                    </div>
                    <br>
                    <button class="btn btn-primary float-right" ng-click="updateAttandant(modifyAttandantData)">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>