<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Tablero
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/pie.js"></script>
  <style>
    .card {
      height: 420px;
    }

    #chartdiv {
      width: 400px;
      height: 200px;
      margin: 0 auto;
      border: 1px dotted #ccc;
    }

    #myChart1-wrapper,
    #myChart2-wrapper,
    #myChart3-wrapper {
      margin-left: 12%
    }

    #myChart1-license-text,
    #myChart2-license-text,
    #myChart3-license-text {
      display: none
    }

    .sidebar[data-color="purple"] li.active>a {
      background-color: #0089ec;
    }

    i{
            cursor: pointer;
        }
    .nbtn {
      background-color: #0089ec !important;
      float: right;
    }
  </style>
</head>
<link href="css/jquery.circliful.css" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="js/jquery.circliful.min.js"></script>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="" class="simple-text logo-normal">
          <img src="static/img/{{ data['pic_link'] }}" style="width: 50%;">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="./">
              <i class="material-icons">dashboard</i>
              <p>
                Perfil</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" onclick=sideclick(0)>
              <i class="material-icons">person</i>
              <p>PROPIETARIO<span style="
          display: inline;
    float: right;
    background: #0089ec;
    /* padding: 3px; */
    border-radius: 50%;
    /* padding: 4px; */
    /* margin-block-end: auto; */
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 1px;
              ">{{
                  data["total_users"] }}</span></p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="./logout">
              <i class="material-icons">content_paste</i>
              <p>
                cerrar sesión</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" id="page_title">Tablero</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row" id="Profile">
            <div class="col-md-12">
              <div class="card" style="height: 100%">
                <div class="card-body">
                    <form action="/updateadmin" method="POST" enctype=multipart/form-data>
                    <div class="form-group">
                        <label for="exampleInputEmail1">CARNÉ DE IDENTIDAD</label>
                        <input type="email" class="form-control" readonly
                          placeholder="admin">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Password</label>
                          <input type="text" class="form-control" name="Password" 
                            placeholder="Password">
                        </div>
                      
                      
                        <div class="form-group">
                          <img src="static/img/{{ data['pic_link'] }}" style="width:30%;" alt="logo" class="img-raised rounded img-fluid">
                    </div>

                    <label for="exampleInputEmail1">logo</label>
                    <br>
                    <input type="file" name="logo">
                          
                        
                  <br>
                  <button style="float: right; background: #0089ec; " type="submit" class="btn btn-primary">Actualizar</button>
                </form>
                  
                </div>
              </div>
            </div>
            
          </div>

          <div class="row" style="display: none;" id="all_owners">
            <div class="col-md-12">
              <div class="card" style="
                height: 166px;
            ">
                <div class="card-body">
                  <form action="/addowner" method="POST">
                    <div class="form-group">
                      <label>
                        Nombre del dueño</label>
                      <input type="ownername" class="form-control" name="ownername" placeholder="Enter 
                      Nombre del dueño">
                    </div>
                    <button type="submit" class="nbtn btn btn-primary">Añadir nuevo propietario
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <tr>
                          <th> Name </th>
                          <th> ID </th>
                          <th> Password </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in data["users"] %}
                        <tr>
                          <td>{{ item[1] }}</td>
                          <td>{{ item[2] }}</td>
                          <td>{{ item[3] }}</td>
                          <td>
                            <i class="material-icons" onclick = deleteowner("{{ item[2] }}")>delete_outline</i>
                            <i class="material-icons" onclick = changeaccount("{{ item[2] }}")>search</i>
                          </td>

                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <img onclick = changelang("sp") style="width: 5%;" src = "static/img/spain.png">
                    <img onclick = changelang("pg") style="width: 5%;" src = "static/img/portugal.png">
                    <img onclick = changelang("es") style="width: 5%;" src = "static/img/uk.png">
                </div>
              <p style="float:right;">
                desarrollado por wj7marketingdigital.com</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/material-dashboard.js') }}" type="text/javascript"></script>

  <script>
    localStorage.setItem("lang", "es");
    function changelang(lang) {
        localStorage.setItem("lang", lang);
        window.location = "/"+lang;
    }
    function sideclick(num) {
      document.getElementById("all_owners").style.display = "none"

      all_nav_item = document.getElementsByClassName("nav-item")
      for (i = 0; i < all_nav_item.length; i++) {
        all_nav_item[i].classList.remove("active")
      }
      all_nav_item[num + 1].classList.add("active")
      if (num == 0) {
        document.getElementById("page_title").innerHTML = "OWNER"
        document.getElementById("all_owners").style.display = ""
        document.getElementById("Profile").style.display = "none"
      }
    }
    
    function deleteowner(id){
      data = {"id":id}
      console.log(JSON.stringify(data))
      $.post("/delete_account", data, function(data,status,xhr){
        location.reload();
      })
    }
    function changeaccount(id){
      data = {"id":id}
      console.log(JSON.stringify(data))
      $.post("/changeaccount", data, function(data,status,xhr){
        location.reload();
      })
    }

    
  </script>


</body>

</html>